@import url('./home.css');
.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 4px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin: auto;
    margin-right: 90px;
  
    margin-top:200px; 
    padding:0px 10px 0px 10px ;
}
.btn{
    background: rgb(77, 168, 199);
    padding: 10px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}
.btn a{
    text-decoration: none;
    color: white;
}
th{
    font-size: 20px;
}
