body{
    background-image: url('../image/frame-medical-equipment-desk.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover; 
    background-position: center;
}

.box{
    width: 50%;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 80px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.112);
    background-color: rgba(195, 193, 193, 0.258);
}
p{
    font-size: larger;
}
a{
    font-size: larger;
    text-decoration: none;
}
.box input[type='email'],
    input[type='text'],
    input[type='number'],
    input[type='password'],
    input[type='file']
{
    width: 50%;
    padding: 10px;
    display: block;
    margin: 25px;
    /* border-color:lightblue; */
    border-radius: 10px;
    border-width: 2px;
    background-color: rgba(255, 253, 253, 0);
    color: black;
    /* border-top: none;
    border-left: none;
    border-right: none; */
}
.heading{
    font-size:x-large;
    font-family: sans-serif;
    color: hsl(226, 64%, 67%);
    
}

.box input[type='submit']{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    background: hsl(226, 89%, 75%);
    color: white;
    font-size: large;
    border: none;
    border-radius: 10px;
    margin-top: 5%;
}
.box input[type='submit']:hover{
    background-color: darkturquoise;
    color: black;
}
.gender{
    color: black;
    font-size: large;
    margin-right: 10px;
}
.usergender{
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgba(255, 253, 253, 0);
    
}
textarea{
    width: 50%;
    padding: 10px;
    display: block;
    margin: 25px;
    
    border-radius: 10px;
    border-width: 2px;
    background-color: rgba(255, 253, 253, 0);
    color: black;
}