@import url('lab_signup.css');
.signup-btn{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    background: hsl(226, 89%, 75%);
    color: white;
    font-size: large;
    border: none;
    border-radius: 10px;
    margin-top: 3%;
}
.togglePassword span{
    cursor: pointer;
}